@import url('https://fonts.googleapis.com/css?family=Supermercado+One');

// FontAwesome
@import "~font-awesome/scss/font-awesome";
// Toastr
@import "~toastr/toastr";
// Bootstrap
@import "variables";
@import "~bootstrap/scss/bootstrap";

// Todolist
@import "todolist";


body{
  background-color: #ECF0F1;
}
.app-title{
  font-family: 'Supermercado One', cursive;
  font-size: 65px;
  color: #64696b;
}


